html, body{
   font-family: 'Poppins', sans-serif;
}

body{
   margin: 0;
}

.boutons-container{
   display: flex;
   align-items: center;
   gap: 16px;
}

.bouton{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
   /* width: fit-content; */
   height: fit-content;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.bouton.primaire{
   background: #a51e4a;
   color: #f7d800;
}

.bouton.primaire:hover{
   background: #004990;
}

.bouton.secondaire{
   background: transparent;
   color: #8005F2;
   border: 2px solid #8005F2;
}

.bouton.secondaire:hover{
   border: 2px solid #c38ff5;
   color: #c38ff5;;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 32px;
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
}

nav ul{
   display: flex;
   gap: 16px;
   list-style: none;
   padding: 0;
   margin: 0;
}

#logo{
   display: flex;
   gap: 16px;
   align-items: center;
}

#themes a{
   color: #f7d800;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.lien:hover{
   color: #8005F2;
}

#logoNom {
    display: flex;
    text-decoration: none;
    color: #004990;
    gap: 16px;
   align-items: center;
}
#logoNom img{
    height: 100px;
    width: 100px;
}
.avatar{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 2px solid black;
   object-fit: cover;
}
.rouge{
    color:red
}
#header{
   display: flex;
   
}
.header{
   display: flex;
   flex-direction: column;
}
.headertitre{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.headertheme{
   display: flex;
  align-items: center;
  flex-direction: column;
}
.themeConteneur{
   display: flex;
}
#main{
   background: #004990;
}
#articleXDetails{
   display: flex;
}
#articleX{
   display: flex;
}
#autreArticles{
   display: flex;
}